-- CreateTable
CREATE TABLE "Cliente" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "telefone" TEXT NOT NULL,
    "ultimoContato" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "totalOrcamentos" INTEGER NOT NULL DEFAULT 0,
    "usuarioId" TEXT NOT NULL,

    CONSTRAINT "Cliente_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Orcamento" (
    "id" TEXT NOT NULL,
    "descricao" TEXT NOT NULL,
    "valor" DOUBLE PRECISION NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pendente',
    "motivoRecusa" TEXT,
    "dataRecebido" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dataAtualizado" TIMESTAMP(3) NOT NULL,
    "dataFechamento" TIMESTAMP(3),
    "dataCancelamento" TIMESTAMP(3),
    "clienteId" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,

    CONSTRAINT "Orcamento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrcamentoEvento" (
    "id" TEXT NOT NULL,
    "orcamentoId" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "descricao" TEXT NOT NULL,
    "statusAntigo" TEXT,
    "statusNovo" TEXT,
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OrcamentoEvento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SolicitacaoWhatsApp" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "clienteId" TEXT NOT NULL,
    "whatsappFrom" TEXT NOT NULL,
    "mensagemOriginal" TEXT NOT NULL,
    "clienteNome" TEXT NOT NULL,
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SolicitacaoWhatsApp_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Configuracao" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "corPrimaria" TEXT NOT NULL DEFAULT '224.3 76.3% 48%',
    "tema" TEXT NOT NULL DEFAULT 'system',
    "metaReceita" DOUBLE PRECISION NOT NULL DEFAULT 20000,
    "metaConversao" DOUBLE PRECISION NOT NULL DEFAULT 45,
    "metaContratosSemana" INTEGER NOT NULL DEFAULT 3,
    "templateProposta" TEXT NOT NULL DEFAULT 'Ol├í {{cliente}}, tudo bem? 

Conforme conversamos, o valor estimado para o servi├ºo fica em *{{valor}}*.

O escopo inclui:
{{descricao}}

Podemos dar andamento? Qualquer d├║vida estou ├á disposi├º├úo!',
    "templateLembrete" TEXT NOT NULL DEFAULT 'Oi {{cliente}}, passando para saber se voc├¬ conseguiu dar uma olhadinha na nossa proposta ou se ficou com alguma d├║vida! ­ƒÿè',
    "templateAgradecimento" TEXT NOT NULL DEFAULT 'Muito obrigado por fechar conosco, {{cliente}}! Vamos fazer um trabalho incr├¡vel. Em breve envio os pr├│ximos passos.',
    "atualizadoEm" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Configuracao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Usuario" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "senha" TEXT NOT NULL,
    "empresa" TEXT,
    "telefone" TEXT,
    "isAdmin" BOOLEAN NOT NULL DEFAULT false,
    "emailVerificado" BOOLEAN NOT NULL DEFAULT false,
    "tokenVerificacaoEmail" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "OrcamentoEvento_orcamentoId_idx" ON "OrcamentoEvento"("orcamentoId");

-- CreateIndex
CREATE INDEX "SolicitacaoWhatsApp_usuarioId_idx" ON "SolicitacaoWhatsApp"("usuarioId");

-- CreateIndex
CREATE UNIQUE INDEX "Configuracao_usuarioId_key" ON "Configuracao"("usuarioId");

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_email_key" ON "Usuario"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_tokenVerificacaoEmail_key" ON "Usuario"("tokenVerificacaoEmail");

-- AddForeignKey
ALTER TABLE "Cliente" ADD CONSTRAINT "Cliente_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Orcamento" ADD CONSTRAINT "Orcamento_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "Cliente"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Orcamento" ADD CONSTRAINT "Orcamento_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrcamentoEvento" ADD CONSTRAINT "OrcamentoEvento_orcamentoId_fkey" FOREIGN KEY ("orcamentoId") REFERENCES "Orcamento"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SolicitacaoWhatsApp" ADD CONSTRAINT "SolicitacaoWhatsApp_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SolicitacaoWhatsApp" ADD CONSTRAINT "SolicitacaoWhatsApp_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "Cliente"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Configuracao" ADD CONSTRAINT "Configuracao_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

